<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="QwireTestAPI Test Suite">
    <test name="Core Tests">
        <classes>
            <class name="com.qwireapi.AppTest"/>
            <class name="com.qwireapi.assertion.IsUuidV4FunctionTest"/>
        </classes>
    </test>
</suite>
